import(lme4)
import(car)
importFrom(plyr, laply, ldply, llply, ddply)
importFrom(magrittr, `%<>%`)
import(dplyr)
import(pbkrtest)

export(art, artlm)

S3method(anova, art)    
S3method(summary, art)
S3method(print, art)
S3method(print, summary.art)
S3method(print, anova.art)
